.itemEnter {
    opacity: 0;
    max-height: 0;
}
.itemEnterActive {
    opacity: 1;
    max-height: 500px;
    transition: opacity 400ms ease-out, transform 400ms ease-out, max-height 400ms ease-out,padding 400ms ease-out;
}
.itemExit {
    opacity: 1;
    max-height: 50px;
    overflow: hidden;
}
.itemExitActive {
    opacity: 0;
    /*transform: translateX(-20%);*/
    max-height: 0;
    padding: 0;
    transition: opacity 400ms ease-out, transform 400ms ease-out, max-height 400ms ease-out;
}

.tag{
    flex-grow: 1;
    box-sizing: border-box;
    padding: .5rem .5rem;
    background: white;
    border-right: 1px solid #AEC0C7;
    color: var(--gray-2);
    font-weight: bold;
    white-space: nowrap;
}

.activeTag{
    background: #E2EBEE;
}

.disabledTag{
    background: #cacfd0;
    color: #879394;
}

.tagFilterContainer{
    border-radius: 7px;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    border: 1px solid #AEC0C7;
    width: 645px;
    max-width: 100%;
    margin-top: .5rem;
    position: relative;
}

.tagFilterGradient{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
    width: 45px;
    height: 40px;
    position: sticky;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
    transition: max-width 10ms;
    right: 0;
}



.projectContainer{
    background: rgb(0,71,117);
    background: linear-gradient(180deg, rgba(0,71,117,1) 0%, rgba(3,57,93,1) 100%);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 920px;
    max-width: 100%;
    margin: 1rem auto;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 14px;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: all 100ms;
    overflow: hidden;
}
.projectContainer:hover{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.glow{
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0,212,255,0) 60%);
    position: absolute;
    pointer-events: none;
    z-index: 1;
    transition: opacity 100ms;
}

.projectColSmall{
    width: 270px;
}

.projectColLarge{
    width: 560px;
}

.projectMainHeader{
    font-size: var(--heading-3);
    font-family: var(--sans-font);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1;
}

.projectSubHeader{
    font-size: var(--body-2);
    font-family: var(--serif-font);
    margin-bottom: var(--heading-5);
    color: var(--blue300);
}

.projectDescription{
    color: var(--blue100);
    font-size: var(--body-3);
    font-family: var(--serif-font);
}

.mainImage{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 1rem auto;
}

.bottomTag{
    background: var(--blue600);
    color: white;
    font-family: var(--serif-font);
    font-size: var(--body-6);
    border-radius: 30px;
    padding: .25rem .75rem;
    margin: 0 .25rem;
    border: 1px solid transparent;
}

.bottomTagActive{
    background: var(--blue300);
    color: var(--blue800);
    border: 1px solid var(--blue300);
}

.projectRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--heading-5);
    align-items: flex-end;
    flex-wrap: wrap;
}

.externalLink{
    background: var(--blue700);
    color: var(--blue300);
    border-radius: 6px;
    padding: .1rem 2rem;
    font-size: var(--heading-4);
    font-weight: bold;
    font-family: var(--serif-font);
    transition: background-color 100ms;
    margin-top: var(--body-5);
}

.externalLink:hover, .externalLink:focus{
    background: var(--blue800);
    color: var(--blue200);
}

.searchForm{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
    flex-wrap: wrap;
}

.searchFormButton{
    color: var(--blue700);
    font-size: var(--body-6);
    font-family: var(--sans-font);
    margin-left: 1rem;
    margin-bottom: var(--body-5);
}
@media all and (min-width: 485px){
    .searchFormButton{
        margin-bottom: 0;
    }
}

.searchFormButton:focus, .searchFormButton:hover{
    font-weight: bold;

}

.searchFormHeader{
    font-size: var(--body-2);
    color: var(--blue800);
    font-family: var(--serif-font);
    margin-bottom: var(--body-5);
}
@media all and (min-width: 485px){
    .searchFormHeader{
        margin-bottom: 0;
    }
}

.searchFormInputContainer{
    border-bottom: var(--gray-4) 1px solid;
    display: flex;
    width: 100%;
    margin-bottom: var(--body-5);
    height: 37px;
}

.searchFormInput{
    background-image: url("/icons/icon-search.svg");
    background-position-y: 50%;
    padding: .25rem .25rem .25rem 1.75rem;
    background-repeat: no-repeat;
    transition: border-bottom-color 400ms;
    width: 100%;

}
@media all and (min-width: 485px){
    .searchFormInput, .searchFormInputContainer{
        width: auto;
        margin-bottom: 0;
    }
}

.clearSearchButton{
    width: 44px;
    padding: 10px;
    box-sizing: border-box;
    opacity: .5;
    transition: opacity 200ms, padding 200ms;
}

.clearSearchButton:focus, .clearSearchButton:hover{
    opacity: .8;
}

.clearSearchButton:active{
    padding: 12px;
    opacity: 1;
}

.searchFormInput:focus{
    outline: none;
    border-bottom: var(--blue500) solid 1px;
}
