:root{
    /* Color styles */
    --gray-1: #333333;
    --gray-2: #43535B;
    --gray-3: #728792;
    --gray-4: #AEC0C7;
    --gray-5: #E2EBEE;
    --gray-6: #EFF4F5;
    --blue100: #F8F9FC;
    --blue200: #EAECF6;
    --blue300: #C2CBE5;
    --blue400: #9BA9D4;
    --blue500: #7A8CC6;
    --blue600: #4C65B3;
    --blue700: #374881;
    --blue800: #233452;
    --blue900: #141A2E;
    --green100: #F0FAF9;
    --green200: #D9F2F0;
    --green300: #BBE7E5;
    --green400: #95DAD6;
    --green500: #58C4BE;
    --green700: #3BA6A0;
    --green600: #308883;
    --green800: #276D69;
    --green900: #17403E;

    --darkBlueGradient: linear-gradient(180deg, rgb(55, 72, 129) 0%, rgb(20, 26, 46) 100%);

    /* Text-size styles */
    /* base size: body-4 (16px) */
    --heading-1: 2rem;
    --heading-2: 1.7rem;
    --heading-3: 1.4rem;
    --heading-4: 1.2rem;
    --heading-5: 1.1rem;
    --body-1: 1rem;
    --body-2: .9rem;
    --body-3: .8rem;
    --body-4: .7rem;
    --body-5: .6rem;
    --body-6: 0.5rem;

    --sans-font: 'Fira Sans', sans-serif;
    --serif-font: 'Merriweather', serif;

}

@media all and (min-width: 900px) {
    :root{
        --heading-1: 3rem;
        --heading-2: 2.62rem;
        --heading-3: 2.38rem;
        --heading-4: 2.12rem;
        --heading-5: 1.88rem;
        --body-1: 1.5rem;
        --body-2: 1.25rem;
        --body-3: 1.12rem;
        --body-4: 1rem;
        --body-5: 0.88rem;
        --body-6: 0.75rem;
    }
}

.wrapper{
    width: 920px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
}
